a {
  font-size: 10px;
  text-decoration: none;
  color: black;
  text-align: center;
}

a:visited {
  color: white;
  text-decoration: none;
  text-align: center;
}

.text a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


header {
  height: 200px;
}

div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
